[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
python-dotenv = "*"
googletrans = "==4.0.0-rc1"
pylint = "*"
black = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
