<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login - TranslateNow</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login.css">
</head>
<body>

  <div class="login-popup">
    <a href="/" class="close-btn">&times;</a>
    <h2>Login to TranslateNow</h2>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Login</button>
    </form>
    <div class="small-text">
      Don't have an account? <a href="/register">Register</a>
    </div>
    <a href="/translator" class="btn">temporary tranlsator button until backend is fixed</a>
  </div>
  

</body>
</html>
